:root {
    --bright-gray: rgba(238, 238, 238, 1);
    --bunker: rgba(34, 40, 49, 1);
    --cloud-burst: rgba(57, 62, 70, 1);
    --strong-cyan: rgba(0,173,181,1);
    --sombra-texto: 0px 0px 4px rgba(56,25,47,0.15);
    --sombra-caja: 0px 0px 5px 1px rgba(56,25,47,0.15);
    
}
.flex-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    width: 100%;
    font-family: 'Play', sans-serif;
    background-color: var(--cloud-burst);
    color: var(--bright-gray);
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    background-color: var(--bunker);
    width: 15px;
    height: 0px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--bright-gray);
    width: 10px;
    height: 40px;
    border-radius: 2px;
}
.hero-button:active, .scroll-to-top:active,.cardSource:active,.createNpc:active, .discard:active,.save:active {
    transform: scale(85%);
    background-color: var(--bright-gray);
}
.discard:active { background: none;}
.hamburger-svg { padding: 0.9rem; }
.hamburger-svg:active,.my-npcs-wrapper:active{
    transform: scale(85%);
}
.link-separator {
    border-bottom: 1px solid var(--bright-gray);
    margin-left: 1rem;
    width: 50%;
}
.loading { margin: 3rem auto auto auto; align-self: center;}
.links { font-family: 'Play', sans-serif; }
.hamburger-svg,.my-npcs-svg,.arrow-up { filter: invert(98%) sepia(4%) saturate(145%) hue-rotate(245deg) brightness(116%) contrast(87%); }
.npcEdit:hover, .npcDelete:hover, .confirm-delete-yes:hover, .confirm-delete-no:hover { cursor: pointer; }
.npcEdit:active, .npcDelete:active,.discard:active,.save:active, .confirm-delete-no:active,.confirm-delete-yes:active, .load-more:active { transform: scale(90%); }
@media (min-width:320px) {
    /* TOP BAR */
    .header {
        width: 100%;
        height: 4rem;
        justify-content: space-between;
        background-color: var(--bunker);
        position: fixed;
        top: 0;
        box-shadow: var(--sombra-caja);
    }
    .title {
        font-size: 2.75rem;
        text-shadow: var(--sombra-texto);
    }
    /* NAV MENU */
    .hamburger,.my-npcs-wrapper {
        border: none;
        background-color: var(--bunker);
        margin: 0;
        padding: 0;
    }
    .hamburger-svg,.my-npcs-svg {
        height: 2rem;
        width: 2rem;
    }
    .hamburger-svg { margin-left: 1rem;}
    .my-npcs-svg { 
        margin-right: 1rem;
        transform: scale(140%);
    }
    .links {
        overflow: hidden;
        position: absolute;
        align-items: flex-start;
        left: 0;
        top: 4rem;
        width: 8rem;
        height: 9rem;
        max-height: 0rem;
        background-color: var(--bunker);
        transition: max-height 0.5s;
        margin: 0;
        padding: 0.3rem auto 0.5rem auto;
        gap: 0.75rem;
    }
    .link {
        text-decoration: none;
        font-size: 1rem;
        margin-left: 1rem;
        color: var(--bright-gray);
        text-shadow: var(--sombra-texto);
    }
    /* HOME */
    .arrow-right {
        width: 0.8rem;
        margin-left: 0.5rem;
    }
    .hero-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-title {
        margin-top: 3rem;
        font-size: 2rem;
        text-align: center;
        text-shadow: var(--sombra-texto);
    }
    .hero-button {
        width:10rem;
        height: 2.5rem;
        align-self: flex-end;
        margin-right: 2rem;
        border: none;
        border-radius: 5px;
        font-family: inherit;
        font-size: 1rem;
        background-color: var(--strong-cyan);
        text-shadow: var(--sombra-texto);
        box-shadow: var(--sombra-caja);
    }
    .hero-img {
        width: 20rem;
        margin-top: 2rem;
        box-shadow: var(--sombra-caja);
        border-radius: 10px;
    }
    .hero-description {
        text-align: center;
        margin-top: 0rem;
        font-size: 1.2rem;
        text-shadow: var(--sombra-texto);
        font-weight: normal;
    }
    /* HOME WRAPPER */
    .landing { margin: 3rem auto 1rem auto; }
    /* GALLERY */
    .cards-wrapper { margin-top: 7rem; }
    .loading {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }
    .load-more {
        display: none;
        margin: 3rem auto 3rem auto;
        border-radius: 0;  
        background-color: var(--strong-cyan);
        border: none; 
        width: 10rem;   
        height: 50px; 
        font-family: 'Play', sans-serif;
        font-weight: bold;
        font-size: 20px;
        box-shadow: var(--sombra-caja);
        color: var(--bunker);
        text-shadow: var(--sombra-texto);
    }
    .scroll-to-top {
        transition: all 0.3s;
        opacity: 0;
        position: fixed;
        width: 3.5rem;
        height: 3.5rem;
        bottom: 1rem;
        right: 1rem;
        box-shadow: var(--sombra-caja);
        background-color: var(--bunker);
        border: none;
        border-radius: 10px;
        padding: 15px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
        text-shadow: var(--sombra-texto);
    }
    .cardArt{ 
        width: 23rem; 
        box-shadow: var(--sombra-caja);
        border-radius: 2px;
    }
    .displayedCardButtonWrapper {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-top: 1rem;
    }
    .cardName { 
        text-align: center;
        font-size: 20px; 
        font-weight: bold;
        margin-top: 1rem;
        text-shadow: var(--sombra-texto);
    }
    .cardArtist { 
        margin: auto auto 10px auto;
        font-size: 16px;
        text-align: center;
        font-weight: normal;
        text-shadow: var(--sombra-texto);
    }
    .cardDivider {
        width: 60%;
        border-top: solid 2px var(--bright-gray);
        margin: 3rem;
        box-shadow: var(--sombra-caja);
    }
    .cardSource,.createNpc,.confirm-delete-no,.confirm-delete-yes{
        width: 8rem;
        height: 2rem;
        border: none;
        border-radius: 5px;
        font-family: inherit;
        font-size: 1rem;
        background-color: var(--strong-cyan);
    }
    /* CREATE NPC */
    .full-image-outer,.npc-form-wrapper {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(34, 40, 49, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        /* hide modal */
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }
    .full-image-outer.open,.npc-form-wrapper.open{
        opacity: 1;
        pointer-events: all;
    }
    .full-image,.full-image-inner {
        width: 350px;
        border-radius: 16px;
        min-height: auto;
    }
    .npc-form-inner {
        gap: 1.5rem;
        background-color: var(--color-bajo);
        padding: 0;
        border-radius: 5px;
    }
    .npc-img {
        display: none;
    }
    .npc-form {
        border-radius: 5px;
        font-weight: bold;
        padding: 1.5rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-shadow: var(--sombra-texto);
        margin: 0;
        background-color: rgba(238, 238, 238, 0.2);
        border: 2px solid var(--bright-gray);
    }
    .npc-legend {
        text-align: center;
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        padding: 0.3rem;
    }
    .name::placeholder { opacity: 0.75; }
    .textarea,.name,.discard,.save {
        box-shadow: var(--sombra-caja);
        border: none;
    }
    .textarea {
        height: 2rem;
        resize: none;
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        font-family: 'Josefin Sans', sans-serif;
        word-break: break-word;
    }
    .name { 
        border-radius: 5px; 
        height: 1.5rem;
    }
    .textarea::placeholder { opacity:0.75; }
    .npc-button-wrapper { margin: 1rem 0rem 0.5rem auto; }
    .discard,.save {
        width: 6rem;
        height: 2rem;
        border-radius: 5px;
        color: var(--bunker);
        font-weight: bold;
        cursor: pointer;
        background-color: var(--strong-cyan);
        box-shadow: var(--sombra-caja);
    }
    .discard {
        margin-right: 0.5rem;
        background: none;
        border: 1px solid var(--bright-gray);
        color:  var(--bright-gray);
    }
    .expand-textarea {
        margin: auto 0 auto 0.5rem;
        width: 2rem;
        height: 1.5rem;
        border-radius: 5px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        box-shadow: var(--sombra-caja);
    }
    /* ABOUT */
    .about { margin: 7rem 1rem 1rem 1rem; }
    .about-title { margin-bottom: 0.5rem; font-size: 1.25rem;}
    .about-text { margin-top: 0.5rem;}
    .about a { color: var(--strong-cyan); }
    /* MY NPCs */
    .my-npcs-article {
        width: 100%;
        height: 88vh;
        margin-top: 5rem;
    }
    .npc-list-wrapper {
        width: 95%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
        background-color: rgba(238, 238, 238, 0.2);
        border-radius: 5px;
    }
    .npc-list-title {
        text-align: center;
        font-size: 1.2rem;
        margin: 0.5rem auto 0.5rem auto;
        text-shadow: var(--sombra-texto);
    }
    .npc-list {
        margin: 0 0 0.5rem 0;
        overflow-y: scroll;
        width: 90%;
        list-style: none;
        flex-direction: column;
        padding: 0rem;
        background-color: rgba(238, 238, 238, 0.2);
        border-radius: 5px;
        box-shadow: var(--sombra-caja);
    }
    .npcListItem {
        justify-content: space-between;
        margin: 0.5rem;
        padding: 0.5rem;
        gap: 2rem;
        text-shadow: var(--sombra-texto);
        box-shadow: var(--sombra-caja);
    }
    .npcListItemName {
        margin: 0;
        width: 15rem;
        word-wrap: break-word;
        color: var(--bunker);
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: var(--sombra-texto);
    }
    .npcListImg {
        width: 2rem;
        height: 2rem;
        box-shadow: var(--sombra-caja);
        border-radius: 5px;
    }
    .npc-visor {
        margin: 0.5rem;
        width: 94%;
        display: grid;
        grid-template-rows: 2, 1fr ;
        overflow-y: scroll;
        border-radius: 5px;
        background-color: rgba(238, 238, 238, 0.2);
        text-shadow: var(--sombra-texto);
        box-shadow: var(--sombra-caja);
    }
    .npcVisorHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .npcVisorSeparator {
        width: 60%;
        border-top: var(--bright-gray) 1px solid;
        margin: 1rem auto 1rem auto;
    }
    .npcVisorTitle {
        width: 90%;
        margin: 0 1rem 0.5rem 1rem ;
    }
    .npcVisorName {
        font-size: 2rem;
    }
    .npcVisorKeyInfoText { font-size: 1.2rem; }
    .npcVisorImg {
        margin: 0;
        width: 90%;
        border-radius: 5px;
        box-shadow: var(--sombra-caja);
    }
    .npcVisorBackground,.npcVisorMisc,.npcVisorKeyInfo{
        text-align: center;
        font-size: 1.5rem;
        margin: 0.5rem;
        text-shadow: var(--sombra-texto);
    }
    .npcVisorBackgroundText,.npcVisorMiscText {
        margin: 0.5rem; 
        text-align: center; 
        text-shadow: var(--sombra-texto);
    }
    .npcButtonsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        margin: 1rem;
    }
    .npcEdit, .npcDelete {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: var(--strong-cyan);
        box-shadow: var(--sombra-caja);
    }
    .editButtonSvg { width: 80%;}
    .deleteButtonSvg { width: 90%; }
    .gallery,.about,.my-npcs-article { display: none;}
    .confirm-delete-outer {
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(57, 62, 70, 0.87);
    }
    .confirm-delete-wrapper {
        width: 22rem;
        height: 15rem;
        border: solid 1px var(--bright-gray);
        font-size: 1.5rem;
        text-align: center;
        padding: 0.5rem;
        gap: 0.5rem;
        border-radius: 5px;
        background-color: rgba(238, 238, 238, 0.25);
    }
    .confirm-delete-title, .confirm-delete-text {
        margin: 0.5rem;
    }
    .confirm-delete-title {
        font-weight: bold;
        margin-top: 1rem;
        font-size: 2rem;
    }
    .confirm-delete-button-wrapper {
        gap: 3rem;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    .confirm-delete-yes {
        background: none;
        border: solid 1px var(--bright-gray);
        color: var(--bright-gray);
    }
}

@media (min-width:1025px) {
    /* HEADER */
    .header {
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    /* NAV MENU */
    .hamburger-svg,.my-npcs-svg {
        height: 2.5rem;
        width: 2.5rem;
        filter: invert(98%) sepia(4%) saturate(145%) hue-rotate(245deg) brightness(116%) contrast(87%);
    }
    .hamburger-svg { margin-left: 2rem;}
    .my-npcs-svg { 
        margin-right: 2rem;
        transform: scale(140%);
    }
    .title { font-size: 3rem;}
    .links {
        top: 5rem;
        height: 20rem;
        width: 10rem;
        gap: 1.25rem;
    }
    .link { font-size: 1.25rem; }
    /* LANDING */
    .hero-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-top:10rem;
        font-size: 1.5rem;
    }
    .hero-title {
        width: 40rem;
        margin-top: 0;
        font-size: 2rem;
    }
    .hero-text-container {
        width: 30rem;
    }
    .hero-img {
        margin: 0;
        width: 30rem;
    }
    /* NPC CREATION */
    .npc-img {
        display: flex;
        border-radius: 5px;
        border: 2px solid var(--bright-gray);
    }
    .textarea {
        height: 4rem;
    }
    .name { 
        height: 1.5rem;
    }
    /* MY NPCS */
    .my-npcs-article { 
        flex-direction: row;
        height: 87vh;
    }
    .npc-list-wrapper {
        width: 40%;
        height: 90%;
        justify-content: flex-start;
    }
    .npc-list { height: 90%; }
    .npc-list-title {
        font-size: 2rem;
        margin: 1rem auto 0.5rem auto;
    }
    .npcListItem {
        align-items: center;
        gap: 0.5rem;
    }
    .npcListItem:hover { background-color: rgba(238, 238, 238, 0.2);}
    .npcListItemName {
        width: 25rem;
        cursor:default;
    }
    .npcListImg {
        width: 5rem;
        height: 5rem;
    }
    .npc-visor {
        margin:1rem;
        height: 90%;
        width: 80%;
        display: grid;
    }
    .npcVisorCard { height: 86vh; padding: 1rem; }
    .npcVisorHeader {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        text-align: center;
    }
    .npcVisorTitle {
        width: 70%;
        margin: 1rem;
    }
    .npcVisorName { margin-top: 1rem;}
    .npcVisorKeyInfo { margin: 0 auto 0 auto; }
    .npcVisorKeyInfoText { margin-top: 0.5rem; }
    .npcVisorImg {
        margin: 1rem;
        width: 22rem;
    }
    .npcButtonsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        margin: 0rem;
    }
    .npcEdit, .npcDelete {
        width: 3rem;
        height: 3rem;
        border-radius: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: none;
    }
    .editButtonSvg { width: 60%;}
    .deleteButtonSvg { width: 75%; }
}