.navbar-wrapper ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 2rem;
}
.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--white);
  width: 90px;
  height: 40px;
  font-weight: 500;
  border-radius: 20px;
  transition: transform ease 0.1s;
}
.navbar-link.active {
  background-color: var(--cyan);
  color: var(--black);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: var(--shadow-default-white);
}
.navbar-link.active:hover {
  background-color: var(--cyan);
}
.navbar-link:hover {
  background-color: hsla(183, 100%, 50%, .2);
}
.navbar-link:active {
  transform: translate(3px,3px);
}
.navbar-link.active:active {
  transform: none;
}