.navbar-wrapper ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.navbar-wrapper ul li {
  margin: 0;
}
.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 9rem;
  height: 3.5rem;
}

