@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .main-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30rem;
    margin-right: 4rem;
  }
  h1.hero-title {
    font-size: 2rem;
    margin: 0;
    line-height: 3rem;
  }
  .hero-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  p.hero-description-text {
    text-align: center;
    font-size: 14px;
  }
  .hero-description-button {
    width: 15rem;
    margin: auto;
  }
  aside.hero-questions-wrapper {
    width: 50%;
    height: 100%;
    position: relative;
    margin-top: 3rem;
  }
  .question-wrapper.framed-golden-2 {
    width: 17rem;
  }
  .question-wrapper.question-wrapper-one {
    position: absolute;
    right: 20rem;
    top: -2rem;
  }
  .question-wrapper.question-wrapper-two {
    position: absolute;
    right: 5rem;
    top: 4rem;
  }
  .question-wrapper.question-wrapper-three {
    position: absolute;
    right: 17rem;
    top: 11rem;
  }
  .question {
    text-align: center;
  }
}