:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  
  --black: hsla(0,0%,0%,1);
  --white: hsla(0,0%,100%,1);
  --xiketic: hsla(234, 60%, 7%, 1);
  --sapphire: hsla(213, 90%, 36%, 1);
  --cyan: hsla(183, 100%, 50%, 1);
  --rose-pink: hsla(315, 90%, 68%, 1);
  --shocking-pink-crayola: hsla(300, 90%, 69%, 1);
  --flame: hsla(20, 93%, 46%, 1);
  --space-cadet: hsla(235, 63%, 15%, 1);
  --shadow-default-white: 3px 3px 0px var(--white);
  --shadow-default-black: 3px 3px 0px var(--black);
  background-color: var(--space-cadet);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}